/* .imgae_header{
    position: relative;
width: 350px;
border-radius: 35px;
border: solid rgba(21, 57, 125, 0.505) 20px;
}
.imagecontainer{
    padding: 15px;
}
h1{
    color: orange;
}
body{
    position: absolute;
    width: 100%;
}
section{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: 1fr 1fr;
    width: 50%;
    border: solid black 2px;
    margin: 50px;
    background-color: lightgray;
    border-radius: 20px;
    color: purple;
    text-align: center;
    align-items: center;
    

} */



/* intructor */


/* put image on right hand side of the section  */
 img{
    width:350px;
    float:right
}
/* float make the image go to the right. */

h1{
    color: orange;
}
p{
    color:purple
}
section{
    background-color:lightgray;
    overflow: auto;
    padding: 15px;
}
