body{
    position: relative;
}
.imagecontainer{
    margin: 0 auto;
    position: relative;
    width: 50%;
    text-align: center;
    top: 225px;
}
main{
    width: 100%;
}
img{
    width: 150px;
    margin: 30px;
    
}